@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Mulish:wght@200&display=swap');

body {
    background-color: rgb(38, 75, 82);
}

.heading {
    text-align: center;
}
.playground-heading {
    color: aqua;
    font-family: 'Mulish', sans-serif;
    font-size: 5rem;
}

.main {
    border: 1px solid white; 
    width: 30%; 
    margin: 1rem auto;
}

.main div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;
}

#red {
    border-color: red;
}

#green {
    border-color: green;
}

#blue {
    border-color: blue;
}

.footer {
    text-align: center;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: blue;
}
